* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1198.98px) {
    .container {
        width: 1170px;
    }
}

/* Tout les éléments  */
p {
    margin: 0 !important;
}

.page {
    min-height: 100vh;
}

/* Suppression du padding auto de Bootstraps col-12 lg.22*/
.padding-0 { 
    padding: 0 !important;
}

/*Partie informative à gauche*/

.photo {
    text-align: center;
    display: inline-block;
    margin: 50px 0 25px 0;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 80px;
    background: rgb(50, 50, 50);
}

.main-box { 
    background: #CDDC39;
    padding: 0 !important;
}

#contact, #about, #hobbies {
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #CDDC39;
    background-color: rgb(50, 50, 50);
}

.infos { /*Contenu de #contact #about #hobbies*/
    padding: 20px;
    margin-left: 10px;
    color: rgb(50, 50, 50);
}


/*Partie professionnelle à droite*/

.identity {
    display: inline;
    text-align: left;
    margin-top: 80px;
}

.name {
    font-size: 2em;
}

#first {
    color: #CDDC39;  
}

.status {
    color: rgb(65, 65, 65) !important;
    font-size: 1.5em;
    display: inline;
}
 
.title { /*Titres : Formation, Expérience professionnel, Recommandations*/
    text-align: left;
    margin: auto auto 0px auto !important;
    padding-bottom: 0px !important ;
    font-size: 20px;
    color:rgb(65, 65, 65);

    border-bottom: solid 1px #CDDC39;
}

.col-8 { /*Partie principale à droite*/
    text-align: center;
    color: rgb(65, 65, 65);
    background-color: white;
}

.inside-main {
    display: block;
}

.fond {
    height: 0;
    width: 0;
}