* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1198.98px) {
    .container {
        width: 1170px;
    }
}

.page {
    min-height: 100vh;
}

/*Partie informative à gauche*/

.photo {
    text-align: center;
}

img {
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    background: rgb(50, 50, 50);
    margin: 50px;
}

.main-box { 
    background: #CDDC39;
    padding: 0 !important;
}

#contact, #about, #hobbies {
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #CDDC39;
    background-color: rgb(50, 50, 50);
}

.infos { /*Contenu de #contact #about #hobbies*/
    padding: 20px;
    margin-left: 10px;
    color: rgb(50, 50, 50);
}

.col-4 {
    background-color: #CDDC39;
    padding: 0 !important;

}

/* Suppression du padding auto de Bootstraps */
.padding-0 { 
    padding: 0 !important;
}


/*Partie professionnelle à droite*/

.name {
    text-align: left;
    margin-top: 100px;
    padding: auto;
}

span { /*Prénom*/
    display: inline;
    color: #CDDC39;
}

h1 { /*Nom*/
    font-size: 2.5em;
    color: rgb(50, 50, 50);
}

h3 { /*Situation*/
    margin-top: 10px;
    font-size: 1em;
}
 
.titles h3{ /*Titres Formation, Expérience professionnel, Recommandations*/
    text-align: left;
    margin-left: 100px;
    padding: 2px;
    font-size: 20px;
    color:rgb(65, 65, 65);
}

.col-8 { /*Partie principale à droite*/
    text-align: center;
    color: rgb(65, 65, 65);
    background-color: white;
}


.icons-main { /*Icones devant les titres*/
    float: left;
    margin-left: 70px;
    margin-right: 1em;
    color: #CDDC39;
    font-size: 30px;
}

.formation-date {
    text-align: left;
    line-height: 30px;
    font-size: 15px;
}

.icons-date { /*Icones devant les dates*/
    float: left;
    margin-top: 7px;
    margin-right: 20px;
    color: #CDDC39;
    font-size: 17px;
}

.fond {
    height: 0;
    width: 0;
}